<h3>Online <%= @degreelevel.name -%> <%= @subject.name -%> Programs</h3>

<div style="float: right; width: 200px; padding-left:20px; height: 320px; text-align: center;">
	<img src="/images/subject_photos/article-upper-<%= Worker.inurl(@subject.categorysubject.name) -%>.jpg"/>
</div>

  <% @school = @schools.first -%>

<% if !@school.blank? -%>
	<p>
		
		<% @professions = @subject.opt_professions -%>

		<% if !@professions.blank? -%>
		
		  <a href="/school/<%= @school.url_string -%>"><%= @school.name -%></a><% if @schools.count > 1 -%>, the highest ranking 
		  school listed below,<% end -%> 
		  is an accredited US institution offering <%= @subject.safe_downcase_name -%> <%= @degreelevel.name.downcase -%> programs to train 
		  individuals 
		  to become 
		    <% @nogo = nil -%>
			  <% for profession in @professions[0..5] -%>
			    <% if profession == @professions.fourth || profession == @professions.last -%>
			      <% if @nogo.blank? -%>
			        <%= profession.safe_plural_downcase_name -%><%= @professions.length > 1 ? ', etc.' : '.' -%>
			        <% @nogo = true if profession == @professions.fourth -%>
			      <% end -%>
			    <% else -%>
			       <% if @nogo.blank? -%>
			        <%= profession.safe_plural_downcase_name -%>,
			       <% end -%>
			    <% end -%>
			  <% end -%>

			   

		  <% @zocc = @professions.first.opt_zoccs.first -%>

		  <% if !@zocc.blank? and @zoccstat = @zocc.zoccupationstat -%>
		

				According to the US Bureau of Labor Statistics, currently there are <%= number_with_delimiter(@zoccstat.total_employed) -%> 
				individuals employed as  
				<%= @zocc.safe_name.downcase -%> alone in the US, and their average annual salary is 
				$<%= number_with_delimiter(@zoccstat.mean_annual_wage.to_i) -%>.
			<% end -%>

		  <% @zocc2 = @professions.first.opt_zoccs[2] -%>

		  <% if !@zocc2.blank? and @zoccstat2 = @zocc2.zoccupationstat%>
			  <%= @zocc2.safe_name -%> make on average $<%= number_with_delimiter(@zoccstat2.mean_annual_wage.to_i) -%> 
			  per year and there are about <%= number_with_delimiter(@zoccstat2.total_employed) -%> 
			  of them employed today.
			<% end -%>

      Online schools like <%= @school.name -%> have been successful at launching workers into 
      this 
      field. 

		<% end -%>

	</p>
	

	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.organizations', @subject.id) -%>
	<b><%= @subject.name -%> Organizations</b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2)  -%>
		  <% @output = Worker.clean_content_display(@r.body[num.to_s]) -%>
		  <li><a target="_blank" href="http://www.google.com/search?q=<%= CGI::escape(@output) -%>"><%= @output -%> &raquo;</a></li>
		<% end -%>
	</ul>
	<% end -%>
	
	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.common_course_titles', @subject.id) -%>
	<b>Common <%= @subject.name -%> Course Titles</b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2)  -%>
		  <li><%= Worker.clean_content_display(@r.body[num.to_s]) -%></li>
		<% end -%>
	</ul>
	<% end -%>
	

	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.currently_in_demand_professions', @subject.id) -%>
	<b>Related Professions Currently in Demand</b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2)  -%>
		  <li><%= Worker.clean_content_display(@r.body[num.to_s]) -%></li>
		<% end -%>
	</ul>
	<% end -%>
	
	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.top_employment_cities', @subject.id) -%>
	<b>Top Cities for <%= @subject.name -%></b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2) -%>
		  <li><%= Worker.clean_content_display(@r.body[num.to_s]) -%></li>
		<% end -%>
	</ul>
	<% end -%>
	
	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.journals_and_magazines', @subject.id) -%>
	<b>Popular Journals &amp; Magazines</b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2)  -%>
		  <% @output = Worker.clean_content_display(@r.body[num.to_s]) -%>
		  <li><a target="_blank" href="http://www.google.com/search?q=<%= CGI::escape(@output) -%>"><%= @output -%> &raquo;</a></li>
		<% end -%>
	</ul>
	<% end -%>	
	
	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.common_job_tasks', @subject.id) -%>
	
	<b><%= @subject.name -%> Common Job Tasks</b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2)  -%>
		  <li><%= Worker.clean_content_display(@r.body[num.to_s]) -%></li>
		<% end -%>
	</ul>
	<% end -%>
	

	
	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.top_employment_states', @subject.id) -%>
	<b>Top States for <%= @subject.name -%></b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2) -%>
		  <li><%= Worker.clean_content_display(@r.body[num.to_s]) -%></li>
		<% end -%>
	</ul>
	<% end -%>

	<% if @r = Replacement.find_by_name_and_replaceable_id('subject.common_degree_programs', @subject.id) -%>
	<b>Common <%= @subject.name -%> Degree Program Names</b>
	<ul>
		<% for num in Worker.get_display_num_array(@subject.id + 2)  -%>
		  <li><%= Worker.clean_content_display(@r.body[num.to_s]) -%></li>
		<% end -%>
	</ul>
	<% end -%>


	
<% end -%>

<div class="clear"></div>