<div class="module">
	<div class="header">
		<h4>Browse by Subject</h4>
	</div>
	<div class="content">
		<% for subject in Subject.all_tls %>
		<a class="btn_<%= Worker.inurl(subject.name) -%>" href="/<%= Worker.inurl(@cousin_name) -%>/<%= Worker.inurl(subject.name) -%>" title="<%= subject.name -%>"><%= subject.name -%></a>					
		<% end %>
		<div class="clear"></div>
  </div>
</div>