<div class="module">
	<div class="header">
		<h4><%= @degreelevel.name %> Degrees By Subject</h4>
	</div>
	<div class="content">
		<ul class="link_list">
			<% for subject in Subject.all_prims_alpha_order %>
			  <li><a href="/online-<%= Worker.inurl(@degreelevel.name) -%>-degree-in-<%= Worker.inurl(subject.name) -%>">Online <%= @degreelevel.name -%> Degree in <%= subject.name -%></a></li>
			<% end %>
	</ul>
	</div>
	<div class="footer"></div>
</div>
<!-- end .module -->